* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #020617, #0f172a);
    color: #e5e7eb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #020617;
    padding: 30px;
    border-radius: 16px;
    width: 95%;
    max-width: 420px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

h1 {
    color: #38bdf8;
    font-size: 2.4rem;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 25px;
}

.upload-box {
    border: 2px dashed #38bdf8;
    border-radius: 12px;
    padding: 30px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-box:hover {
    background-color: rgba(56,189,248,0.05);
}

.upload-box p {
    font-size: 1.1rem;
}

.upload-box span {
    font-size: 0.9rem;
    color: #94a3b8;
}

.preview {
    margin-top: 20px;
    display: none;
}

.preview img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #38bdf8;
    color: #020617;
    cursor: pointer;
    transition: 0.3s;
}

button:disabled {
    background-color: #334155;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0ea5e9;
}
#resetBtn {
    margin-top: 12px;
    background-color: transparent;
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

#resetBtn:hover {
    background-color: #38bdf8;
    color: #020617;
}

.loading {
    opacity: 0.6;
    pointer-events: none;
}
